.search {
    border: none;
    width: 50px;
    border-radius: 0;
    height: 40px;
}
.search:hover {
    background-color: red;
    color: white;
}
.nav-pills .nav-link {
    border-radius: 0;
    color: white;
}

.nav-link:hover {
    background-color: #fff;
    color: black;
}

.box-about {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-about p {
    width: 60%;
}

.box-fo {
    width: 60%;
}

.box-date {
    width: 60%;
}
.img-ho:hover{
    opacity: .8;
}

.loc {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.snd {
    background-color: black;
    color: #fff;
}

.snd:hover {
    background-color: gray;
    color: black;
}

.midia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mda {
    opacity: 0.8;
}

.mda:hover {
    opacity: 0.6;
}